:root {
    --primary-color: #F9E4E4;
    --secondary-color: #D2913F;
    --text-color: #D2913F;
    --font-family: 'Verdana', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-family);
    text-align: center;
    min-height: 100%;
    min-width: 100%;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }

  #first, #second {
    height: 33vh;
  }

  #logo {
    max-height: 15vh;
    margin-top: 7vh;
  }

  .social-link {
    max-height: 6vh;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
  h1 {
    font-size: 0rem;
    visibility: hidden;
  }
  
  #coming {
    font-size: 1.75rem;
    margin-bottom: 3vh;
    margin-top: 10vh;
    font-weight: bold;
  }

  #tagline {
    font-size: 1.5rem;
    margin-bottom: 10vh;
  }

  #call {
    font-size: 1.25rem;
    margin-bottom: 3vh;
  }
  
  main {
    flex: 1;
    padding: 0rem 1rem;
    max-width: 800px;
    margin: 0 auto;
  }